<!--  This file is app/views/movies/index.html.erb -->
<h2>Student info</h2>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Name</th>
      <th>Budget</th>
      <th>Remaining Budget</th>
      <th>Fluffy Coins</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.name %>
        </td>
        <td>
          <%= movie.budget %>
        </td>
        <td>
          <%= movie.remaining_budget %>
        </td>
        <td>
            <%= movie.fluffy_coin %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Get Rewards', get_rewards_path, :class => 'btn btn-primary' %>

