<h2>Create New Fluffy</h2>

<%= form_tag fluffys_path, :class => 'form' do %>
  <%= label :fluffy, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :fluffy, :name, :class => 'form-control' %>
  <%= label :fluffy, :budget, 'Budget', :class => 'col-form-label' %>
  <%= number_field :fluffy, :budget, :class => 'form-control', step: 0.01 %>
  <%= label :fluffy, :remaining_budget, 'Remaining budget', :class => 'col-form-label' %>
  <%= number_field :fluffy, :remaining_budget, :class => 'form-control', step: 0.01 %>

  <%= label :fluffy, :password, 'Password', :class => 'col-form-label' %>
  <%= text_field :fluffy, :password, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', fluffys_path, :class => 'btn btn-secondary' %>
<% end %>