<!--  This file is app/views/movies/index.html.erb -->
<h2>Student info</h2>

<%#  Part 2: Start here... %>

<%= link_to 'Home', '/fluffys', :class => 'btn btn-primary' %>

<br>
<br>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Budget</th>
      <th>Remaining Budget</th>
      <th>Fluffy Coins</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <%= @fluffy.id %>
        </td>
        <td>
          <%= @fluffy.name %>
        </td>
        <td>
          <%= @fluffy.budget %>
        </td>
        <td>
          <%= @fluffy.remaining_budget %>
        </td>
        <td>
            <%= @fluffy.fluffy_coin %>
        </td>
        <td>
            <%= @fluffy.password %>
        </td>
      </tr>
  </tbody>
</table>
